.aboutHeader {
  background-image: url(/img/aboutHero.jpg);
}

.aboutText {
  text-align: center;
  max-width: 600px !important;
  margin: 50px auto 0 !important;
  line-height: 32px;
}

.feature {
  display: flex;
  &:nth-of-type(2) {
    flex-flow: row-reverse;
  }
  & .row {
    width: 50%;
  }
}
.featureTitle {
  width: 70%;
  padding-bottom: 20px;
  margin: 0 auto;
  font-size: 30px;
  border-bottom: 5px black dotted;
  & small {
    margin-left: 10px;
    font-size: 16px;
  }
}
.featureText {
  width: 70%;
  margin: 20px auto 0;
  text-align: justify;
  line-height: 32px;
}
.featureImg {
  width: 50%;
  & img {
    display: block;
    width: 70%;
    margin: 0 auto;
  }
}

#system {
  & .systemTitle {
    text-align: center;
    font-size: 50px;
  }
  & table {
    margin: 50px auto 0;
    text-align: center;
    overflow: hidden;
    border-collapse: separate;
    border-radius: 20px;
    border: 3px #f7d358 solid;
    background: white;
    font-size: 20px;
    filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, .3));
  }
  & th {
    padding: 1em 2em;
    background: #f7d358;
  }
  & td {
    padding: 1em 2em;
    border-top: 3px #f7d358 solid;
    border-left: 3px #f7d358 solid;
  }
}