.aboutHeader {
  background-image: url(/img/aboutHero.jpg);
}

.aboutText {
  text-align: center;
  width: 50%;
  margin-top: 50px !important;
}

.feature {
  display: flex;
  &:nth-of-type(2) {
    flex-flow: row-reverse;
  }
  & .row {
    width: 50%;
  }
}
.featureTitle {
  margin-left: calc(30% / 2);
  font-size: 30px;
  & small {
    margin-left: 10px;
    font-size: 16px;
  }
}
.featureText {
  width: 70%;
  margin: 20px auto 0;
}
.featureImg {
  width: 50%;
  & img {
    display: block;
    width: 70%;
    margin: 0 auto;
  }
}

#system {
  & .systemTitle {
    text-align: center;
  }
  & table {
    margin: 0 auto;
  }
  & th {
    border: 3px black solid;
    background: gray;
  }
  & td {
    border: 3px black solid;
  }
}