.footer {
  background: linear-gradient(0deg, rgb(10, 27, 42) 20%, rgba(11, 56, 97, .8) 100%), url(/img/footerBg.gif);
  background-repeat: repeat;
  padding: 50px 30px 20px;
  margin-top: 200px;
  border-top: 20px #0B3861 solid;
}

.footerGnav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  max-width: 1200px;
  margin: -20px auto 0;
}
.footerGnavItem {
  margin: 20px 1ex 0 0;
  &:hover span {
    display: inline-block;
    transform: rotateX(360deg);
    transition: .5s;
  }
  & a {
    & span::before {
      content: '◆';
      margin-right: 1ex;
    }
    &:link {
      text-decoration: none;
      color: white;
    }
    &:visited {
      text-decoration: none;
      color: white;
    }
    &:hover {
      color: #F7D358;
    }
  }
}

.icons {
  display: flex;
  justify-content: space-between;
  list-style: none;
  max-width: 200px;
  margin: 50px auto 0;
  color: white;
}

.copyright {
  text-align: center;
  margin-top: 50px;
  font-family: 'Helvetica';
  font-weight: 100;
  color: white;
}