.menuList {
  display: flex;
  flex-wrap: wrap;
}
.menuItem {
  width: 50%;
  & table {
    margin: 0 auto;
  }
}
.menuTitle {
  text-align: center;
  background: green;
  padding: 1em 0;
}
.menuImg {
  & div {
    margin: 0 auto;
  }
}