.menuHeader {
  background-image: url(/img/menuHero.jpg);
}

.menuList {
  display: flex;
  flex-wrap: wrap;
}
.menuItem {
  width: 50%;
  &:nth-of-type(n+3) {
    margin-top: 100px;
  }
  & table {
    width: 70%;
    margin: 20px auto 0;
  }
  & td {
    width: 70%;
    padding-top: 20px;
    text-align: left;
    &:nth-of-type(2) {
      width: 30%;
      text-align: right;
    }
  }
}
.menuTitle {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  padding: 1em 0;
  font-size: 30px;
  border-top: 3px #0B3861 solid;
  border-bottom: 3px #0B3861 solid;
  position: relative;
  &::before {
    content: '';
    display: block;
    width: calc(100% - 20px);
    height: 70px;
    border-top: 3px #0B3861 dashed;
    border-bottom: 3px #0B3861 dashed;
    position: absolute;
    top: 7px;
    left: 7px;
  }
}
.menuImg {
  width: 70%;
  margin: 20px auto 0;
  & img {
    display: block;
    width: 100%;
  }
}